$black: #000000;
$white: #ffffff;
$border-color: #cfcfcf;
$btn-menu: #000000;
$btn-contact: #54a3e6;
$hookah-link: #e3200d;
$coffee-link: #cc7b3e;
$bg-black: #252525;
$footer-link: #54a3e6;
$menu-price: #de4040;
